@charset "utf-8";
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700;900&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

ul,
li {
  list-style: none;
}

a {
  color: #333;
  text-decoration: none;
}

img {
  vertical-align: middle;
  border: 0;
}

html {
  font-size: 16px;
}

body {
  font-family: 'Noto Sans KR', Helvetica, '맑은 고딕', 'malgun gothic', 'Apple SD Gothic Neo', sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.4;
  letter-spacing: -0.64px;
  color: #444;
}

/* 공통요소 */
.clearfix::after {
  content: '';
  position: relative;
  display: block;
  width: 100%;
  clear: both;
}

.inner {
  position: relative;
  display: block;
  max-width: 1200px;
  margin: 0 auto;
}

.wrap {
  position: relative;
  display: block;
}

.header {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 80px;
  background-color: #fff;
  z-index: 9999;
  text-align: center;
}

.gnb {
  position: relative;
  display: inline-block;
}

.gnb > li {
  position: relative;
  display: inline-block;
  white-space: nowrap;
  font-size: 0;
  margin: 0 10px;
}

.gnb > li > a {
  display: block;
  line-height: 80px;
  text-transform: uppercase;
  font-size: 16px;
  font-weight: 500;
}

.gnb > li > a:hover {
  color: salmon;
}

.visual {
  position: relative;
  display: block;
  height: 700px;
  background-color: lightgoldenrodyellow;
}

.visual .inner {
  height: 100%;
}

.profile {
  position: relative;
  display: block;
  height: 800px;
  background-color: lightcyan;
}

.profile .inner {
  height: 100%;
}

.portfolio {
  position: relative;
  display: block;
}

.portfolio h2 {
  text-align: center;
  font-size: 32px;
  font-weight: 700;
}

.portfolio h3 {
  text-align: center;
  font-size: 24px;
  font-weight: 600;

}

.portfolio h4 {
  text-align: center;
  font-size: 20px;
  font-weight: 500;

}

.portfolio h5 {
  text-align: center;
  font-size: 18px;
  font-weight: 400;
}

.portfolio-wrap {
  position: relative;
}
.portfolio-cate {
  position: relative;
}

.portfolio-list {
  position: relative;
  overflow: hidden;
}
.portfolio-list > li {
  position: relative;
  float: left;
  width: 50%;
  text-align: center;
  margin-bottom: 60px;
}

.portfolio-list > li a {
  display: block;
}

.portfolio-list > li a:hover {
  color: salmon;
}