@charset "utf-8";
@import url('https://fonts.googleapis.com/css2?family=Aref+Ruqaa+Ink:wght@400;700&family=Noto+Sans+KR:wght@100;300;400;500;700;900&family=Shadows+Into+Light&display=swap');
@import url("https://fonts.googleapis.com/css2?family=Noto+Serif+KR:wght@200;300;400;500;600;700;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700;900&display=swap");
@font-face {
  font-family: "Cocogoose Classic";
  src: url(../fonts/cocogoose_classic/Cocogoose-Classic-Medium-trial.ttf);
}
@font-face {
  font-family: "Sacred Valley";
  src: url(../fonts/sacred_valley/Sacred\ Valley.ttf);
}
@font-face {
  font-family: "Floane";
  src: url(../fonts/floane/Floane-Regular.otf);
  /* src: url(../fonts/floane/Floane-Bold.otf); */
}
@font-face {
  font-family: "bright_gesture";
  src: url(../fonts/bright_gesture/Bright\ Gesture\ DEMO.otf);
  /* src: url(../fonts/floane/Floane-Bold.otf); */
}
@font-face {
  font-family: 'GyeonggiTitleVertical';
  font-weight: normal;
  font-style: normal;
  src: url('https://cdn.jsdelivr.net/gh/webfontworld/gyeonggi/GyeonggiTitleVertical.eot');
  src: url('https://cdn.jsdelivr.net/gh/webfontworld/gyeonggi/GyeonggiTitleVertical.eot?#iefix') format('embedded-opentype'),
      url('https://cdn.jsdelivr.net/gh/webfontworld/gyeonggi/GyeonggiTitleVertical.woff2') format('woff2'),
      url('https://cdn.jsdelivr.net/gh/webfontworld/gyeonggi/GyeonggiTitleVertical.woff') format('woff'),
      url('https://cdn.jsdelivr.net/gh/webfontworld/gyeonggi/GyeonggiTitleVertical.ttf') format("truetype");
  font-display: swap;
}

@font-face {
  font-family: 'Pretendard-Regular';
  src: url('https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff') format('woff');
  /* src: url('../fonts/pretendard/woff/Pretendard-Bold.woff') format('woff'),
       url('../fonts/pretendard/woff/Pretendard-Medium.woff') format('woff'),
       url('../fonts/pretendard/woff/Pretendard-SemiBold.woff') format('woff'),
       url('../fonts/pretendard/woff/Pretendard-Light.woff') format('woff');
  font-weight: 300, 400, 500, 600, 700, 900; */
  /* font-style: normal; */
}


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

ul,
li {
  list-style: none;
}

a {
  color: #333;
  text-decoration: none;
}

img {
  vertical-align: middle;
  border: 0;
}

html {
  font-size: 16px;
  overflow-x: hidden;
}

body {
  font-family: "Noto Sans KR", "bright_gesture",'Shadows Into Light', 'Aref Ruqaa Ink', "맑은 고딕", "malgun gothic",
    "Apple SD Gothic Neo", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.4;
  letter-spacing: -0.64px;
  color: #444;
}

/* 공통요소 */
.clearfix::after {
  content: "";
  position: relative;
  display: block;
  width: 100%;
  clear: both;
}

.inner {
  position: relative;
  display: block;
  max-width: 1200px;
  margin: 0 auto;
}


/* sns 메뉴 */

.sns-menu-list {
  position: fixed;
  right: 22px;
  bottom: 55px;
  display: block;
  z-index: 999;

}
.sns-menu-list > i {
  margin-right: 5px;
  margin-top: 5px;
  font-size: 25px;
  color: #444;
  cursor: pointer;
}
.sns-menu-list > .fa-times {
  margin-right: 8px;
}

.sns-menu-list ul {
  position: absolute;
  right: 3px;
  bottom: 100%;
  display: flex;
  flex-direction: column;
  display: none;
  z-index: 9999;
}

.sns-menu-list ul li a {
  position: relative;
  display: block;
  font-size: 25px;
  color: #666;
  margin: 10px 0;
  transition: all 0.5s;
}

.sns-menu-list ul li a:hover {
  transform: scale(1.1);
  color: #444;
}

.go-top {
  position: fixed;
  right: 28px;
  bottom: 30px;  
  z-index: 9999;
}

.go-top i {
  font-size: 22px;
  cursor: pointer;
}

.wrap {
  position: relative;
  display: block;
  margin-top: 70px;
}

.header {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 80px;
  background-color: rgba(255,255,255,0.9);
  border-bottom: 1px solid #fff;
  z-index: 9999;
  text-align: center;
  box-shadow: 0 0.5em 1.5em rgb(0 0 0 /10%);
}

.header .inner {
  position: relative;
  display: flex;
  justify-content: space-between;
  height: 100%;
}
.logo {
  margin-left: 2%;
  margin-top: 2px;
  padding: 7px 0;
  height: 100%;
}

.logo img {
  height: 90%;
}

.gnb {
  margin-right: 2%;
  position: relative;
  display: inline-block;
  white-space: nowrap;
}

.gnb > li {
  position: relative;
  display: inline-block;
  white-space: nowrap;
  font-size: 0;
  margin: 0 10px;
}

.gnb > li > a {
  display: block;
  line-height: 80px;
  text-transform: uppercase;
  font-size: 16px;
  font-weight: 400;
  cursor: pointer;
}

.gnb > li > a:hover {
  color: #f79c92;

}

.gnb-active {
  color: #f79c92;
  /* text-shadow: ; */
}

/* header 반응형 */
@media screen and (max-width:768px) {
  .header {
    height: 70px;
  }
  .logo {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  .gnb {
    display: none;
  }

}


/* 비주얼 영역 */
.visual {
  position: relative;
  display: block;
  width: 100%;
  height: 760px;
  background-size: cover;
}
.visual-bg {
  position: absolute;
  left: 50%;
  display: block;
  width: 50vw;
  height: 100%;
  background-color: rgb(214, 223, 209);
}

.visual .inner {
  position: relative;
  display: block;
  width: 100%;
  height: 100%;
  text-align: center;
}

.visual-bg2 {
  position: absolute;
  top: 50%;
  right: 5%;
  transform: translateY(-50%);
  display: block;
  width: 40.84%;
  height: 85.53%;
  background-color: #c7d4c6;
}

.visual-bg2 img {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: block;
  height: 85%;
}

.visual h1 {
  position: absolute;
  top: 48%;
  left: 3%;
  color:#333; 
  white-space: nowrap;
  font-size: 40px; 
  letter-spacing:1px;
}

.evt_wrap {
  width:700px; 
  height: 300px; 
  margin:0 auto; 
  outline:2px solid orange;
}

.wrapper {
  position: absolute;
  top: 56%;
  left: 3.3%;
  display: flex;
  height: 100px;
}

.move-text {
  width: 11ch;
  animation: typing 2.5s steps(22), blink .5s step-end infinite alternate;
  white-space: nowrap;
  overflow: hidden;
  color: #f79c92;
  border-right: 3px solid;
  font-size: 70px;
}

@keyframes typing {
  from {
    width: 0
  }
}
    
@keyframes blink {
  50% {
    border-color: transparent
  }
}

.visual h2 {
  position: absolute;
  top: 70%;
  left: 3%;
  color:#333; 
  white-space: nowrap;
  font-size: 40px; 
  letter-spacing:1px;
}

.readme {
  position: absolute;
  bottom: 15%;
  left: 3%;
  display: block;
  width: 155px;
  height: 40px;
  border: 1.5px solid rgb(247, 156, 146);
  /* border-radius: 0 18px 18px 0; */
  background-color: #fff;
  text-align: center;
  cursor: pointer;
  transition: all 0.3s ease-out;
}

.readme:hover {
  transform: scale(1.05);
  background-color: #c7d4c6;
  border: 1.5px solid #c7d4c6;
  color: #fff;
  font-size: 19px;
  box-shadow: 0 0 5px;
}

.readme:hover a {
  color: #fff;
}

.readme a {
  color: rgb(247, 156, 146);
  width: 100%;
  height: 100%;
  font-size: 18px;
  line-height: 38px;
}

/* visual 반응형 */
@media screen and (max-width:992px) {
  .visual-bg {
    left: 0;
    width: 100vw;
  }

  .visual-bg2 {
    background: none;
  }

  .visual h1,
  .visual h2 {
    color: #fff;
  }

}

@media screen and (max-width:900px) {
  .visual h1,
  .visual h2 {
    color: #fff;
    font-size: 30px;
  }
  .visual h2 {
    top: 65%;
  }
  .wrapper {
    height: 67px;
  }
  .move-text {
    font-size: 45px;
  }

  .readme {
    bottom: 20%;
    left: 4%;
  }
}

@media screen and (max-width:768px){
  .visual-bg2 img {
    left: -5%;
    top: 45%;
    height: 75%;
    border-radius: 200px;
  }

  .visual h1 {
    position: absolute;
    top: 5%;
    left: 50%;
    transform: translateX(-50%);
    font-size: 25px;
  }

  .wrapper {
    left: 50%;
    top: 80%;
    transform: translateX(-50%);
  }
  .move-text {
    font-size: 38px;
  }
  .visual h2 {
    top: 90%;
    left: 50%;
    transform: translateX(-50%);
  }
  .readme {
    display: none;
  }
}
@media screen and (max-width:425px) {
  .visual {
    height: 600px;
  }
  .visual-bg {
    height: 95%;
  }
  .visual-bg2 img {
    left: -10%;
    top: 35%;
    height: 65%;
    border-radius: 200px;
  }

  .visual h1 {
    position: absolute;
    top: 4%;
    left: 55%;
    transform: translateX(-50%);
    font-size: 22px;
  }

  .wrapper {
    left: 50%;
    top: 70%;
    height: 45px;
    transform: translateX(-50%);
  }
  .move-text {
    font-size: 35px;
  }
  .visual h2 {
    top: 78%;
    left: 50%;
    transform: translateX(-50%);
    font-size: 23px;
  }
}


/* about 영역 */
.about {
  position: relative;
  display: block;
  margin: 5% 0;
}

.about .inner {
  position: relative;
  width: 100%;
  height: 760px;
  padding-top: 30px;
  /* background-color: #F9F6F1; */
}
.about .inner h2 {
  text-align: center;
  font-family:  "bright_gesture";
  color: rgb(199, 196, 196);
  /* text-shadow: 1px 1px 4px rgb(197, 193, 193); */
  font-size: 60px;
  margin-bottom: 40px;
}

.about-top {
  position: relative;
  display: block;
  width: 100%;
  height: 45%;
}

.about-top .about-top-pic {
  position: absolute;
  left: 15%;
  display: block;
  width: 40%;
  height: 100%;
}

.about-top .about-top-pic img{
  width: 100%;
  height: 90%;
  box-shadow: inset;
}

.about-top .about-top-txt {
  position: absolute;
  top: 20%;
  right: 0%;
  display: block;
  width: 40%;
}

.about-top .about-top-txt p {
  letter-spacing: 1px;
  font-size: 25px;
  font-weight: 500;
  display: inline;
  margin-bottom: 10px;
}

.about-top .about-top-txt span {
  position: relative;
  display: inline-block;
  color: #f79c92;
  font-size: 28px;
  margin-top: 53px;
}

.sw-about {
  position: absolute;
  display: block;
  background-color: #bfd2be;
  height: 40px;
  width: 65%;
  font-size: 20px;
  margin: 10px 0;
}

.sw-about-list {
  text-align: center;
  font-size: 22px;
  line-height: 42px;
}

.about-top .about-top-txt .no-ls {
  color: #333;
  letter-spacing: 0;
}

.about-bottom {
  position: relative;
  display: block;
  width: 100%;
  height: 45%;
}

.about-bottom .about-bottom-txt {
  position: absolute;
  left: 15%;
  width: 40%;
  word-break: keep-all;
}
.about-bottom .about-bottom-txt h3 {
  font-size: 20px;
  font-weight: 500;
  line-height: 30px;
  margin: 4% 0 8% 0;
  white-space: nowrap;
}

.about-bottom .about-bottom-txt h3 span {
  color: #b4cdb3;
  font-weight: 500;
  font-size: 22px;
  white-space: nowrap;
}

.about-bottom .about-bottom-txt i {
  color: #9fba9e;
  font-size: 16px;
  font-weight: 500;
}


.about-bottom .about-bottom-pic {
  position: absolute;
  right: 10%;
  display: block;
  width: 30%;
}
.about-bottom .about-bottom-pic img {
  width: 100%;
  height: 100%;
  filter: grayscale();
}

/* about 반응형 */
@media screen and (max-width:1065px) {

  .about-top .about-top-pic{
    left: 50%;
    transform: translateX(-50%);
    width: 55%;
  }

  .about-top .about-top-pic img {
    filter: contrast(0.5);
  }

  .about-top .about-top-txt {
    right: 50%;
    transform: translateX(50%);
    text-align: center;
    color: #fff;
  }
  .about-top .sw-about {
    left: 50%;
    transform: translateX(-50%);
  }

  .about-top .swiper-slide {
    color: #333;
  }

  .about-bottom .about-bottom-txt {
    left: 50%;
    transform: translate(-50%);
    text-align: center;
    line-height: 30px;
    width: 65%;
  }
  .about-bottom .about-bottom-pic {
    display: none;
  }

}

@media screen and (max-width:992px) {
  .about .inner h2 {
    font-size: 38px;
    margin-bottom: 20px;
  }

}

@media screen and (max-width:900px) {
  .about .inner h2 {
    font-size: 30px;
  }
  .about-top .about-top-txt {
    font-size: 20px;
  }
  .about-top .about-top-pic {
    width: 60%;
  }
  .sw-about .swiper-slide {
    font-size: 20px;
  }

  .about-bottom .about-bottom-txt {
    /* width: 50%; */
  }

}

@media screen and (max-width:768px){
  .about-top .about-top-pic{
    height: 75%;
    width: 70%;
  }
  .about-top .about-top-txt {
    top: 15%;
  }
  .about-top .about-top-txt p {
    font-size: 20px;
  }
  .about-top .about-top-txt span {
    font-size: 24px;
  }
  .sw-about .swiper-slide {
    font-size: 16px;
  }


  .about-bottom .about-bottom-txt {
    top: -27%;
  }
  .about-bottom .about-bottom-txt h3 {
    font-size: 18px;
  }
  .about-bottom .about-bottom-txt h3 span {
    font-size: 18px;
  }
  .about-bottom .about-bottom-txt p {
    font-size: 14px;
  }
  .about-bottom .about-bottom-txt p i {
    font-size: 15px;
  }
}

@media screen and (max-width:425px) {
  .about .inner {
    padding-top: 0;
  }
  .about-top .about-top-pic {
    width: 75%;
  }
  .about-top .about-top-txt p {
    font-size: 15px;
  }
  .about-top .about-top-txt span {
    font-size: 19px;
  }
  .sw-about .swiper-slide {
    font-size: 13px;
  }

  .about-bottom .about-bottom-txt h3 {
    font-size: 15px;
  }
  .about-bottom .about-bottom-txt h3 span {
    font-size: 16px;
  }
  .about-bottom .about-bottom-txt p {
    font-size: 13px;
  }
  .about-bottom .about-bottom-txt p i {
    font-size: 14px;
  }
}


/* profile 영역 */
.profile {
  position: relative;
  display: block;
  margin: 30px 0;
  background: url('../images/skill-bg.png') no-repeat center;
  background-size: cover;
}

.profile .inner {
  position: relative;
  display: flex;
  justify-content: center;
  width: 100%;
  height: 760px;
}

.profile-text {
  width: 55%;
  display: block; 
  margin-left: 20px; 
}
.profile-text h2 {
  font-family: "bright_gesture";
  color: #666;
  font-size: 40px;
  color: #b4cdb3;
  margin-bottom: 35px;
}

.profile-text-list {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  /* margin-left: 25px; */
  width: 100%;
}

.profile-text-list >li {
  width: 60%;
  margin-bottom: 50px;
  white-space: nowrap;
}

.profile-text-list >li h3 {
  font-size: 20px;
  font-weight: 500;
  margin-bottom: 20px;
  color: #f79c92;
  /* text-align: center; */
  text-decoration: underline;
  text-decoration-color: #f79c92;
  text-underline-position: under;
}

.profile-text-list >li li {
  margin: 7px 0;
}

.profile-text-list >li li span {
  position: relative;
  display: inline-block;
  width: 50px;
  font-size: 16px;
  font-weight: 700;
  letter-spacing: 1px;
  margin-right: 7px;
}

.profile-text-list >li li p {
  position: relative;
  display: inline-block;
  font-size: 15px;
  letter-spacing: 1px;
}

.mbti {
  position: relative;
  display: block;
  width: 40%;
}

.mbti .bubble {
  position: absolute;
  top: 15%;
  width: 48%;
  height: 30%;
  text-align: center;
  background: url('../images/greenbubble.png') no-repeat center;
  background-size: contain;
  z-index: 1;
  animation: bubble 1.5s ease-in-out 1s infinite alternate;
}

@-webkit-keyframes bubble {
  0% {
    left:0px;
  }
  100% {
    left:30px;
  }
}

.bubble h3 {
  position: absolute;
  top: 25%;
  left: 50%;
  transform: translateX(-50%);
  font-size: 20px;
  font-weight: 500;
  color: #4d8ca3;
}

.bubble span {
  font-size: 14px;
  font-weight: 500;
  color: #4d8ca3;
}

.bubble p {
  position: absolute;
  top: 38%;
  left: 50%;
  width: 80%;
  transform: translateX(-50%);
  font-size: 11.5px;
}

.mbti img {
  position: absolute;
  bottom: 13%;
  right: 10%;
  width: 250px;
  height: 400px;
}

.skill {
  position: relative;
  display: block;
  width: 1200px;
  margin: 0 auto;
  padding-top: 10%;
  margin-bottom: 5%;
}

/*   
.skill h2 {
  position: relative;
  display: block;
  font-family: "bright_gesture";
  color: #666;    
  font-size: 40px;
  margin-bottom: 25px;
} */

.skill-box {
  position: relative;
  display: flex;
  justify-content: space-between;
  /* height: 500px; */
}

.skill-pic {
  position: relative;
  display: block;
  width: 40%;
  height: 100%;
  border-radius: 50%;
}

.skill-pic img {

}

.skill-bar {
  position: relative;
  display: block;
  width: 60%;
  height: 100%;
}

.skill-bar h2 {
  font-size: 25px;
  font-weight: 500;
  color: #bfd2be;
  margin-top: 5%;
  margin-bottom: 5%;
}

.skill-bar-text {
  display: block;
  height: 20%;
  
}
.skill-bar-text p {
  font-size: 19px;
  line-height: 40px;
  font-weight: 500;
  color: #656363;
}

.skill-bar-text strong {
  background: url('../images/green.png') no-repeat center;
  background-size: contain;
  font-size: 25px;
  font-weight: 500;
  color: #656363;
}

.rd div{
  position: relative;
  margin-bottom: 5%;
  text-align: center;
}

.program-skill {
  position: relative;
  display: inline-block;
  width: 40%;
  margin-right: 10%;
}

.program-skill h3 {
  text-decoration: none;
  font-size: 25px;
  color: #656363;
  font-family: "bright_gesture";
}

.program-skill .skills {
  position: relative;
  display: flex;
  align-items: baseline;
  justify-content: space-around;
}

.program-skill .skills img {
  width: 30px;
  height: 30px;
  margin-left: 4%;

}

.communication-skill {
  position: relative;
  display: inline-block;
  width: 40%;
  margin-bottom: 2%;
  vertical-align: top;
}

.communication-skill h3 {
  text-decoration: none;
  font-size: 25px;
  color: #656363;
  font-family: "bright_gesture";

}

.communication-skill .skills {
  position: relative;
  display: flex;
  align-items: baseline;
  justify-content: space-around;
}

.communication-skill .skills img {
  width: 30px;
  height: 30px;
  margin-left: 4%;

}


/* profile 반응형 */
@media screen and (max-width:1065px) {

}

@media screen and (max-width:992px) {

}

@media screen and (max-width:900px) {


}

@media screen and (max-width:768px){

}

@media screen and (max-width:425px) {

}





/* possibility 영역 */
.possibility {
  position: relative;
  display: block;
  margin: 7% 0;
}

.possibility .inner {
  position: relative;
  width: 100%;
}

.possibility .inner h2 {
  font-family: "bright_gesture";
  color: #b4cdb3;  
  text-align: center;
  display: block;
  font-size: 40px;
}

.possibility-box {
  position: relative;
}


.possibility-pic{
  position: absolute;
  top: 47%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 33%;
  display: block;
  /* margin-left: 5%;
  padding-top: 5%; */
}

.possibility-pic img {
  width: 100%;
}

.possibility-txt {
  position: relative;
  display: block;
}

.possibility-txt-list {
  display: flex;
  justify-content: space-between;
  padding-top: 4%;
} 

.around-list {
  justify-content: space-around;
}

.possibility-txt-list li {
  width: 30%;
  margin-bottom: 3%;
}

.possibility-list {
}

.possibility-list h3 {
  display: block;
  font-size: 20px;
  font-weight: 600;
  margin-bottom: 5%;
  color: #f79c92;
}

.possibility-list p {
  letter-spacing: 1px;
  font-size: 15px;
  line-height: 28px;
  word-break: keep-all;
}

.possibility-list strong {
  position: relative;
  font-size: 15px;
  font-weight: 500;
  background-color: rgb(190, 209, 189, 0.5);
}

.left-list {
  text-align: right;
}


/* 포트폴리오 영역 */
.portfolio {
  position: relative;
  display: block;
  margin: 30px;
}

.portfolio h2 {
  font-family: "bright_gesture";
  text-align: center;
  font-size: 40px;
  color: #b4cdb3;
}

.portfolio-wrap {
  position: relative;
}

.portfolio h3 {
  text-align: center;
  font-size: 22px;
  color: rgb(101, 99, 99);
  margin: 10px 0 35px 0;
}


.portfolio-cate {
  position: relative;
  display: block;
  /* width: 89%; */
  margin: 0 auto;
  margin-top: 35px;
  margin-bottom: 5%;
  background-color: #fff;
}

.sw-portfolio {
  width: 100%;
  height: 100%;
  padding: 37px;
}

.sw-portfolio .swiper-wrapper {
  position: relative;
  height: 100%;
  /* display: block; */
  font-size: 0;
  margin-bottom: 50px;
}

.portfolio-list {
  position: relative;
  display: inline-block;
  /* margin-left: 1.3%; */
  width: 30%;
  transform: scale(0.7);
  transition: all 0.5s;
  opacity: 0.5;
}

.portfolio-list h5 {
  position: absolute;
  top: 5%;
  left: 20%;
  text-align: center;
  font-family: "맑은고딕";
  font-size: 20px;
  color: #666;
  /* font-weight: 600; */
  /* color: rgb(102, 99, 99); */
  z-index: 1;
}

.portfolio-list h5 i {
  font-size: 15px;
  text-align: center;
}

.portfolio-list .port-img{
  width: 100%;
}

.swiper-slide-active {
  transform: scale(1.2);
  opacity: 1.0;
}

.swiper-slide-active .portfolio-link {
  opacity: 1;
}

.portfolio-link {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  width: 85%;
  opacity: 0;
  margin-top: 30px;
}

.portfolio-link a {
  position: relative;
  display: inline-block;
  width: 25%;
  text-align: center;
  padding: 5px;
  margin: 0 3% 3% 0;
  font-size: 12px;
  white-space: nowrap;
  border: 2px solid #f3d0cd;
  border-radius: 8px;
  transition: all 0.5s;
}

.portfolio-link .vue {
  width: 35%;
  border: 2px solid #d1e0d0 ;
}

.portfolio-link a:hover {
  background-color: #f3d0cd;
  color: #fff;
  transform: scale(1.05);
}

.portfolio-link .vue:hover {
  background-color: #d1e0d0 ;
}


.swiper-pagination {
  position: relative;
  display: block;
}

.swiper-pagination-bullet { 
  width: 12px; 
  height: 12px; 
  background: transparent; 
  border: 1px solid #f79c92; 
  opacity: 1; 
}

.swiper-pagination-bullet-active { 
  width: 40px; 
  transition: width .5s; 
  border-radius: 5px; 
  background: #f79c92; 
  border: 1px solid transparent; 
}


.vue-port{
  position: relative;
  width: 100%;
  font-size: 0;
}
.vue-port .inner{
  height: 450px;
}

.vue-port-left{
  position: relative;
  display: inline-block;
  width: 28%;
  height: 100%;
  margin: 0 1%;
}

.vue-port-left h3{
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%,-50%);
  text-align: center;
  font-size: 30px;
}

.vue-port-right{
  display: inline-block;
  width: 68%;
  height: 100%;
  margin: 0 1%;
  font-size: 16px;
  vertical-align: top;
}

.vue-port-right ul{
  width: 100%;
  height: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-content: space-between;
}

.vue-port-right ul li{
  position: relative;
  width: 45%;
  height: 48%;
  overflow: hidden;
  transform: scale(0.97);
  transition: transform 0.5s;
  box-shadow: 1px 1px 3px rgb(182, 182, 182);

}

.vue-port-right ul li:hover{
  transform: scale(1);
}

.vue-port-right ul li::before{
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0,0,0,0);
  transition: background-color 0.5s;
}

.vue-port-right ul li:hover::before{
  background-color: rgba(0,0,0,0.6);
}

.vue-item1 {
  background: url('../images/minimemo.jpeg') no-repeat center;
  background-size: contain;
}
.vue-item2 {
  background: url('../images/ghibli.png') no-repeat center;
  background-size: cover;
}
.vue-item3 {
  background: url('../images/todorest.jpeg') no-repeat center;
  background-size: contain;
}
.vue-item4 {
  background: url('../images/not-prepare.png') no-repeat center;
  background-size: cover;
}

.vue-info {
  position: absolute;
  left: 0;
  bottom: -100%;
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: #daebd9;
  text-align: center;
  padding: 10px;
  opacity: 0;
  transition: bottom 0.5s;
}

.vue-info-txt {
  color: #fff;
  font-family: '맑은 고딕';
}

.vue-info-txt span {
  display: inline-block;
  font-weight: 600;
  font-size: 22px;
  margin-right: 3%;
}
.vue-info-txt p {
  display: inline-block;
  font-size: 16px;
  font-weight: 400;
}

.vue-port-right ul li:hover .vue-info{
  bottom: 0%;
  opacity: 1;
}

.vue-info-link {
  /* background-color: #fff; */
}

.vue-info-link a {
  line-height: 44px;
  padding: 7px;
  margin-right: 5px;
  color: #bfd2be;
  background-color: #fff;
  border-radius: 10px;
  border: 1px solid rgba(239, 161, 152,0);
  transition: all 0.5s;
}

.vue-info-link a:hover {
  color: #fff;
  background-color: #bfd2be;
  transform: scale(1.1);
  border: 1px solid #fff;
}

/* 라이프 영역 */
.life {
  position: relative;
  display: block;
  margin: 10% 0;
}

.life .inner {
  width: 100%;
}

.life-top {
  position: relative;
  display: block;
  /* width: 20%; */
}

.life-top h2 {
  font-family: "bright_gesture";
  text-align: center;
  font-size: 40px;
  color: #b4cdb3;
  margin: 3% 0;
}
.life-bottom {
  position: relative;
}
.insta-tag {
  position: absolute;
  left: 50%;
  top: 50%;
  width: 100%;
  height: 100%;
  transform: translate(-50%,-50%);
}

.insta-tag-l li,
.insta-tag-r li {
  position: absolute;
  cursor: pointer;
}
.insta-tag-l li:nth-child(1) {
  top: 15%;
  left: 15%;
}
.insta-tag-l li:nth-child(2) {
  top: 38%;
  left: 3%;
}
.insta-tag-l li:nth-child(3) {
  top: 59%;
  left: 13%;
}
.insta-tag-l li:nth-child(4) {
  top: 80%;
  left: 5%;
}
.insta-tag-r li:nth-child(1) {
  top: 17%;
  right: 6%;
}
.insta-tag-r li:nth-child(2) {
  top: 38%;
  right: 15%;
}
.insta-tag-r li:nth-child(3) {
  top: 62%;
  right: 2%;
}
.insta-tag-r li:nth-child(4) {
  top: 87%;
  right: 15%;
}

.tag-list {
  font-size: 33px;
  font-weight: 500;
  color: #999;
  cursor: pointer;
  transition: font-size 0.5s;
}

.tag-list.active{
  font-size: 37px;
  color: #1774AA;
}

.life-bottom {
  position: relative;
  display: flex;
  justify-content: center;
}

.life-frame {
  position: relative;
  /* top: 50%;
  left: 50%;
  transform: translate(-50%, -50%); */
  display: block;
  height: 620px;
  width: 435px;
  background: url('../images/insta-frame.png') no-repeat center;
  background-size: cover;
  box-shadow: 1px 2px 6px rgb(193, 190, 190);
}

.sw-life {
  position: absolute;
  top: 12%;
  left: 50%;
  transform: translateX(-50%);
  display: block;
  width: 90%;
  height: 61%;
  box-shadow: 1px 2px 6px rgb(210, 209, 209);
}

#sky {
  background: url('../images/sky.jpeg') no-repeat center;
  background-size: cover;
}
#travel {
  background: url('../images/travel.jpeg') no-repeat center;
  background-size: cover;
}

#cooking {
  background: url('../images/cooking.jpeg') no-repeat center;
  background-size: cover;
}

#study {
  background: url('../images/study.png') no-repeat center;
  background-size: cover;
}

#hobby {
  background: url('../images/concert.jpeg') no-repeat center;
  background-size: cover;
}

#chelsea {
  background: url('../images/chelsea.JPG') no-repeat center;
  background-size: cover;
}

#mukstagram {
  background: url('../images/mukstagram.jpeg') no-repeat center;
  background-size: cover;
}

#coffee {
  background: url('../images/coffee.jpeg') no-repeat center;
  background-size: cover;
}

/* vision 영역 */
.vision {
  position: relative;
  display: block;
  margin-top: 50px;
  margin-bottom: 30px;
}

.vision .inner {
  position: relative;
  display: flex;
  justify-content: space-between;
  padding: 30px;
}

.vision-left {
  position: relative;
  display: block;
  padding: 2%;
  margin-left: 30px;
}

.vision-left img {
  width: 450px;
  height: 96%;
}

.vision-right {
  position: relative;
  display: block;
  width: 50%;
  padding: 1%;
}

.vision-right h2 {
  font-size: 32px;
}

.vision-title {}

.vision-txt {}

.vision-txt h4 {
  font-size: 20px;
  /* text-indent: 3%; */
  font-weight: 500;
  margin-bottom: 4%;
  line-height: 15px;
  /* border-left: 3px solid #f79c92; */
}

.vision-txt ul {}

.vision-txt li {
  display: flex;
  justify-content: space-around;
  margin: 40px 0;
}

.vision-txt div {
}

.vision-txt strong {
  color: #f79c92;
  font-size: 22px;
  font-weight: 500;
}

.vision-txt p {
  font-size: 14px;
  line-height: 27px;
  letter-spacing: 1px;
  word-break: keep-all;
  /* padding-left: 3%; */
  /* border-left: 2px solid #f3d0cd; */
}

.vision-txt i {
  font-size: 15px;
  font-weight: 500;
  color:  rgb(245, 175, 175, 0.9);
  /* background-color: rgb(245, 175, 175, 0.6); */
}


/* 푸터 영역 */
.footer {
  position: relative;
  display: block;
  background-color: #d3e3d0
}

.footer .inner {
  padding: 3% 0;
}

.footer .inner h2 {
  text-align: center;
  font-size: 40px;
  font-family: "bright_gesture";
  color: #86b984;
  margin-bottom: 5%;
}

.contact {
  position: relative;
  display: flex;
  justify-content: center;
  margin-bottom: 5%;
}
.contact ul {
  position: relative;
  display: flex;
  justify-content: center;
}

.contact ul li {
  position: relative;
  display: block;
  margin-right: 5%;
  width: 55px;
}

.contact ul li img {
  width: 100%;
  height: 100%;
}

.contact ul li a {
  width: 44px;
  height: 44px;
  cursor: pointer;
}

.f-icon {
  position: relative;
  display: flex;
  justify-content: center;
  margin-bottom: 5%;
}

.f-icon ul {
  position: relative;
  display: flex;
  justify-content: center;
}

.f-icon ul li {
  position: relative;
  display: block;
  margin-right: 5%;
  width: 55px;
}

.f-icon ul li a {
  width: 44px;
  height: 44px;
  cursor: pointer;
}

.f-icon ul li img {
  width: 100%;
  height: 100%;
  transition: transform 0.5s;
}

.f-icon ul li:hover img {
  transform: scale(1.2);
} 

.f-txt {
  position: relative;
  display: block;
  text-align: center;
}


/* 선생님 추천 푸터 */
/* 
.footer .inner {
  display: flex;
  justify-content: space-between;
  padding: 5% 0;
} 

.footer-box {
  font-family: "bright_gesture";
  width: 68%;
  position: relative;
  display: block;
  background-color: #fff;
  border-radius: 10px;
  padding: 30px;
}

.footer-box h2 {
  font-size: 45px;
  color: #daebd9;
}

.f-icon {
  margin: 25px 0;
} 

.f-icon ul li {
  display: inline-block;
  width: 60px;

}
.f-icon ul li img {
  width: 100%;
}

.footer-box p {
  letter-spacing: 1px;
  font-size: 30px;
  color: #daebd9;
}
.footer-box span {
  font-size: 25px
}

.footer-pic {
  position: relative;
  display: block;
  width: 28%;
}
.footer-pic  img {
  width: 100%;
  border-radius: 5px;
}

.footer-bottom {
  margin-top: 5%;
  padding-bottom: 3%;
  text-align: center;
}  */






/* 원래 푸터 */

/* 
.footer-box {
  position: relative;
  display: flex;
  justify-content: space-between;
  width: 90%;
  height: 65%;
  margin: 0 auto;
  padding-bottom: 30px;
  background-color: rgba(254, 254, 254, 0.7);
}

.footer-box1 {
  position: relative;
  display: block;
  padding: 20px;
  color: #5acaaf;
}

.footer-box1 .f-pic {
  position: relative;
  display: block;
  width: 195px;
  height: 210px;
  margin-bottom: 10px;
  background: url('../images/footer-selfi.jpeg') no-repeat center;
  background-size: cover;
}

.footer-box1 .f-pic img {
  width: 100%;
  height: 100%;
}

.footer-box2 {
  padding: 15px;
}
.footer-box2 span {
  color: #165c50;
  font-size: 30px;
}
.f-icon {
  position: relative;
  display: block;
}

.f-icon ul li {
  position: relative;
  display: inline-block;
}
.f-icon img{
  width: 50px;
  height: 50px;
}


.footer-box3 {
  padding: 15px;
}

.footer-box3 > span {
  font-size: 22px;
  color: #5acaaf;
}
.footer-box3 .kakao {
  padding: 10px;
  margin: 10px 0;
  width: 120px;
  height: 120px;
}

.footer-box3 .kakao img {
  width: 100%;
  height: 100%;
  margin-bottom: 8px;
}

.footer-box3 .kakao > span {
  font-size: 15px;

}

.footer-bottom {
  margin-top: 55px;
  text-align: center;
}  */


